body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header .navbar {
    background-color: gray;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.navbar .nav-link {
    text-decoration: none;
    color: #333;
    margin-right: 30px;
    margin-left: 30px;
    padding: 10px;
    border-radius: 15px;
}

.navbar img.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: auto;

}

.navbar .nav-link:hover {
    background-color: #4267b2;
}


.post {
    width: 300px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin: 10px 0;
}