body {
    font-family: monospace;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

header .navbar {
    background-color: gray;
    padding: 5px;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
}
 /* descendant selector */ 
.navbar .nav-link {
    text-decoration: none;
    color: lightgray;
    margin-right: 30px;
    margin-left: 30px;
    padding: 10px;
    border-radius: 15px;
}

/* pseudo class */ 
.navbar .nav-link:hover {
    background-color: rgb(6, 17, 20);
}

.navbar .nav-link:last-child {
    margin-right: 0;
}

/* id selector */
#profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* class selector */
.profile-link {
    margin-left: auto;
}



main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.post {
    width: 100%;
    max-width: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.post-header {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.post-header .user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-header .post-date {
    color: #888;
}

/* child selector */ 
.post-body > img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

footer {
    background-color: gray;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* adjacent sibling selector */
.post + .post {
    margin-top: 30px;
}

/* general sibling selector */
#post1 ~ #post2 {
    background-color: #f8f8f8;
}

.addPost-wrapper {
    margin: 30px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addPost {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: lightgray;
    border-radius: 10px;
}

.addPost td {
    vertical-align: top;
    padding: 5px;
}

#addArea {
    border: none;
    resize: none;
}

.addPost button {
    border: none;
    color: white;
    padding: 4px 12px;
}

.greybutton {
    background-color: gray;
}

.bluebutton {
    margin-top: 30px;
    background-color: rgba(31, 63, 160, 0.7);
}

.addPost button:hover {
    background-color: #333;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding-top: 40px;
}

.login-container {
    padding: 10px 0;
    background-color: #D8D8D8;
    border-radius: 10px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form-label {
    display: block;
}

.input-field {
    width: 100%;
    padding: 8px;
}

#login-btn {
    appearance: none;
    background-color: #1F477D;
    color: white;
    border: none;
    padding: 6px 12px;
    font-family: inherit;
}

.submit-btn:hover {
    background-color: #0056b3;
    color: white;
    cursor: pointer;
}

.login-container p {
    font-size: 16px;
    margin: 0;
}

.login-container a {
    text-decoration: none;
    color: #2AB7EC;
}

.login-container label {
    display: none;
}

.form-label + input {
    border: 0 solid #ddd;
    max-width: 150px;
}
label ~ input {
    background-color: #f0f0f0;
}

@media (max-width: 600px) {
    .login-container {
        width: 90%;
    }


}

@media (min-width: 601px) {
    .login-container {
        width: 300px;
    }
}